<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hobbiest</title>
</head>
<body>
    Meus Hobbies são: Acordar e tomar cafe se der( tem dia que o café não está pronto (ou acabou o café (sou pobre)  ) ),
    gosto bastante de praticar as vezes alguns códigos em python  (só as vezes ( de vez em nunca)),
    gosto bastante de ir para a academia obs: ainda mais com a minha namorada,
    gosto de mexer no meu computador (gosto de ver mais sobre jogos ou estudar casos criminais) 
    gosto de fazer comida ou alguma sobremesa como: bolo, brigadeiro pudim etc (faço oque der na mente)
    gosto de sair para lugares que me traz paz ou algo interessante como (shopping, museu ou mesmo uma café na esquina ou em algum restaurante com alguem especial).
</body>
</html>